In [7]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
import math
import nltk

# Main approach NLP

1. Rule based methods
    - Regular expression 
    - context-free grammars 
2. Probabilistic mdoeling and machine learning 
   - likelihood maximiaztion 
   - linear classifier: 
     - logistic regression : y_hat = 1/ (1+ e^-(w*x + b)) , w:coef? 
3. deep Learning 
   - stack of neuron: activation_function(w*x) , logit, relu 
 ..

# Tokenization

In [8]:
s = "I love apples, don't you?"

In [9]:
tokenizer = nltk.tokenize.WhitespaceTokenizer()
tokenizer.tokenize(s)

['I', 'love', 'apples,', "don't", 'you?']

In [10]:
tokenizer = nltk.tokenize.TreebankWordTokenizer()
tokenizer.tokenize(s)

['I', 'love', 'apples', ',', 'do', "n't", 'you', '?']

In [11]:
tokenizer = nltk.tokenize.WordPunctTokenizer()
tokenizer.tokenize(s)

['I', 'love', 'apples', ',', 'don', "'", 't', 'you', '?']

# Token Normalization

## Stemming

**Function**: remove and replacing suffixes to get the root form of the word 

example 

cats -> cat

cares -> care

talked -> talk

In [12]:
## stemming 
text = "feet cats wolves talked"
tokenizer = nltk.tokenize.TreebankWordTokenizer()
tokens = tokenizer.tokenize(text)

In [13]:
stemmer = nltk.stem.PorterStemmer()
" ".join(stemmer.stem(token) for token in tokens)

'feet cat wolv talk'

## Lemmatization 
**Function**: return the base or dictionary form of words 

Example: 

feet -> foot

wolve -> wolf

In [14]:
nltk.download('wordnet')
stemmer = nltk.stem.WordNetLemmatizer()
" ".join(stemmer.lemmatize(token) for token in tokens)

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/aliciaqi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

'foot cat wolf talked'

# Bag of Words 


<img src="pics/bag of words.png" width="500">

In [15]:
s = " I love apples, don't you. "

In [16]:
N_gram = 2

In [17]:
res = []
lst = s.split()
for i in range(len(lst)-1):
    res.append([lst[i],lst[i+1]])
res

[['I', 'love'], ['love', 'apples,'], ['apples,', "don't"], ["don't", 'you.']]

# N gram

<img src="pics/n-gram.png" width="500">

# Text basic

## Regular Expression

### Identifiers for character in Patterns

In [18]:
text = "My phone number is 408-555-1234. I am avaible from 11:00am to 4:00pm on business day."

In [19]:
'phone' in text

True

In [20]:
import re

In [21]:
pattern = 'phone'
re.search(pattern,text)

In [22]:
match = re.search(pattern,text)
match

In [23]:
match.span()

(3, 8)

In [24]:
text2 = "Primary phone:343-234-2343 , second phone: 123-343-2343 "

In [25]:
match = re.search("phone",text2)
match

In [26]:
matches = re.findall("phone",text2)
matches

['phone', 'phone']

In [27]:
for match in re.finditer("phone",text2):
    print(match.span())

(8, 13)
(36, 41)

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >\d</span></td><td>A digit</td><td>file_\d\d</td><td>file_25</td></tr>

<tr ><td><span >\w</span></td><td>Alphanumeric</td><td>\w-\w\w\w</td><td>A-b_1</td></tr>



<tr ><td><span >\s</span></td><td>White space</td><td>a\sb\sc</td><td>a b c</td></tr>



<tr ><td><span >\D</span></td><td>A non digit</td><td>\D\D\D</td><td>ABC</td></tr>

<tr ><td><span >\W</span></td><td>Non-alphanumeric</td><td>\W\W\W\W\W</td><td>*-+=)</td></tr>

<tr ><td><span >\S</span></td><td>Non-whitespace</td><td>\S\S\S\S</td><td>Yoyo</td></tr></table>

In [28]:
phone = re.search(r'\d\d\d-\d\d\d-\d\d\d\d',text)

In [29]:
# (232)-(323)-(1234)

In [30]:
phone.group()

'408-555-1234'

### Quantifiers

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >+</span></td><td>Occurs one or more times</td><td>	Version \w-\w+</td><td>Version A-b1_1</td></tr>

<tr ><td><span >{3}</span></td><td>Occurs exactly 3 times</td><td>\D{3}</td><td>abc</td></tr>



<tr ><td><span >{2,4}</span></td><td>Occurs 2 to 4 times</td><td>\d{2,4}</td><td>123</td></tr>



<tr ><td><span >{3,}</span></td><td>Occurs 3 or more</td><td>\w{3,}</td><td>anycharacters</td></tr>

<tr ><td><span >\*</span></td><td>Occurs zero or more times</td><td>A\*B\*C*</td><td>AAACC</td></tr>

<tr ><td><span >?</span></td><td>Once or none</td><td>plurals?</td><td>plural</td></tr></table>

In [31]:
matches = re.search(r'\d{3}-\d{3}-\d{4}',text)
matches.group()

'408-555-1234'

In [32]:
# email 
pattern = r'\w+@\w+.\w{3}'
email_string = "dafdajk@gmail.com"
re.findall(pattern, email_string)

['dafdajk@gmail.com']

### Groups

In [33]:
phone_pattern = re.compile(r'(\d{3})-(\d{3})-(\d{4})')

In [34]:
import re
results = re.search(phone_pattern,text)
results

In [35]:
# The entire result
results.group()

'408-555-1234'

In [36]:
# Can then also call by group position.
# remember groups were separated by parentheses ()
# Something to note is that group ordering starts at 1. Passing in 0 returns everything
results.group(1)

'408'

In [37]:
results.group(2)

'555'

In [38]:
# We only had three groups of parentheses
results.group(4)

IndexError: no such group

### Other useful syntax

In [39]:
re.search(r"man|woman","This man was here.")

In [40]:
re.search(r"man|woman","This woman was here.")

#### Wildcard Character

In [41]:
re.findall(r".at","The cat in the hat sat here.")

['cat', 'hat', 'sat']

In [42]:
re.findall(r".at","The bat went splat")

['bat', 'lat']

In [43]:
# One or more non-whitespace that ends with 'at'
re.findall(r'\S+at',"The bat went splat")

['bat', 'splat']

#### Parentheses for Multiple Options

In [44]:
# Find words that start with cat and end with one of these options: 'fish','nap', or 'claw'
text = 'Hello, would you like some catfish?'
texttwo = "Hello, would you like to take a catnap?"
textthree = "Hello, have you seen this caterpillar?"

In [45]:
re.search(r'cat(fish|nap|claw)',text)

In [46]:
re.search(r'cat(fish|nap|claw)',texttwo)

### Conclusion
all possible patterns, check out: https://docs.python.org/3/howto/regex.html

# TF-IDF
*https://scikit-learn.org/stable/modules/feature_extraction.html#tfidf-term-weighting* 


*https://towardsdatascience.com/natural-language-processing-feature-engineering-using-tf-idf-e8b9d00e7e76*



<img src="pics/tfidf.png" width="500">

text1 = "I love Apple"

text2 = "I love sunshine"

text3 = "I hate chocolate" 

love in text 1: tf = 1 , idf = 3/2 , tf-idf = 3/2 * 1 = 1.5 

sunshine in text2: tf = 1, idf = 3/1, tf-idf = 1 * 3 = 3 

=> sunshine less frequency but higher tfidf

In [47]:
def pre_process(text):
    # lowercase
    text=text.lower()
    #remove tags
    text=re.sub("<!--?.*?-->","",text)
    # remove special characters and digits
    text=re.sub("(\\d|\\W)+"," ",text)
    # change white space to one 
    text=re.sub("\s+"," ",text)
    # remove start and end white spaces 
    text = text.strip()
    return text

In [48]:
text1 = "I love Apple"
text2 = "I love sunshine"
text3 = "I hate chocolate" 
corpus = []
corpus.append(text1)
corpus.append(text2)
corpus.append(text3)
text_sents_clean = [pre_process(s) for s in corpus]
text_sents_clean

['i love apple', 'i love sunshine', 'i hate chocolate']

In [49]:
corpus

['I love Apple', 'I love sunshine', 'I hate chocolate']

## Implementation in Sklearn

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
# corpus
vectorizer =TfidfVectorizer(ngram_range=(1,2)) #N_GRAM 
features = vectorizer.fit_transform(corpus)
tf_idf_df = pd.DataFrame(features.todense(), columns=vectorizer.get_feature_names())

In [51]:
features.todense()

matrix([[0.62276601, 0.        , 0.        , 0.        , 0.4736296 ,
         0.62276601, 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.4736296 ,
         0.        , 0.62276601, 0.62276601],
        [0.        , 0.57735027, 0.57735027, 0.57735027, 0.        ,
         0.        , 0.        , 0.        ]])

In [52]:
def implement_tfidf_sklearn(corpus, N_GRAM=1):
    from sklearn.feature_extraction.text import TfidfVectorizer
    # corpus
    vectorizer =TfidfVectorizer(ngram_range=(N_GRAM,N_GRAM)) #N_GRAM 
    features = vectorizer.fit_transform(corpus)
    res = pd.DataFrame(features.todense(), columns=vectorizer.get_feature_names())
    return res

In [53]:
def implement_tfidf_sklearn(corpus, N_GRAM=(1,1)):
    from sklearn.feature_extraction.text import TfidfVectorizer
    # corpus
    vectorizer =TfidfVectorizer(ngram_range=N_GRAM) #N_GRAM 
    features = vectorizer.fit_transform(corpus)
    res = pd.DataFrame(features.todense(), columns=vectorizer.get_feature_names())
    return res

# Apply linear regression in sklearn 
* https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html*

In [54]:
""">>> import numpy as np
>>> from sklearn.linear_model import LinearRegression
>>> X = np.array([[1, 1], [1, 2], [2, 2], [2, 3]])
>>> # y = 1 * x_0 + 2 * x_1 + 3
>>> y = np.dot(X, np.array([1, 2])) + 3
>>> reg = LinearRegression().fit(X, y)
>>> reg.score(X, y)
1.0
>>> reg.coef_
array([1., 2.])
>>> reg.intercept_
3.0000
>>> reg.predict(np.array([[3, 5]]))
array([16.])"""

'>>> import numpy as np\nfrom sklearn.linear_model import LinearRegression\nX = np.array([[1, 1], [1, 2], [2, 2], [2, 3]])\n# y = 1 * x_0 + 2 * x_1 + 3\ny = np.dot(X, np.array([1, 2])) + 3\nreg = LinearRegression().fit(X, y)\nreg.score(X, y)\n1.0\nreg.coef_\narray([1., 2.])\nreg.intercept_\n3.0000\nreg.predict(np.array([[3, 5]]))\narray([16.])'

## import sklearn packages

In [55]:
import numpy as np
from sklearn.linear_model import LinearRegression

## get data

In [56]:
X = np.array([[1, 1], [1, 2], [2, 2], [2, 3]]) # (4, 2) X.shape
X

array([[1, 1],
       [1, 2],
       [2, 2],
       [2, 3]])

In [57]:
import random

In [58]:
# y = x * w + noise(c)
# y = np.dot(X, np.array([1, 2])) + 3
y = np.dot(X, np.array([1, 2])) + random.random()  # (4, 2) * (2, 1) => (4,1) # (m, k) * (k, n) => (m, n)
y

array([3.28669813, 5.28669813, 6.28669813, 8.28669813])

In [59]:
reg = LinearRegression().fit(X, y)
reg

LinearRegression()

In [60]:
reg.score(X, y)

1.0

In [61]:
 reg.coef_

array([1., 2.])

In [62]:
reg.intercept_

0.28669813479969974

In [63]:
#y_pred = x_pred * coef + intercept 
coef =  np.array(reg.coef_).reshape((1, 2)) # (1,2)
x_pred = np.array([[3, 5]]).T # (2, 1)
np.dot(coef ,x_pred) + reg.intercept_ # = > (1,1)

array([[13.28669813]])

In [64]:
reg.predict(np.array([[3, 5]]))

array([13.28669813])

## What is object

In [65]:
class student:
    def __init__(self, name, age):
        self.name = name 
        self.age = age 
    def get_name(self):
        print(f"name: {self.name}")

In [66]:
s1 = student("Austine", 20)
type(s1)

__main__.student

In [67]:
s1.get_name()

name: Austine

# document retrieve

## Cosine Similarity

### EXAMPLE 1

In [ ]:
['I love Apple', 'I love sunshine', 'I hate chocolate']

In [68]:
tf_idf_df

,apple,chocolate,hate,hate chocolate,love,love apple,love sunshine,sunshine
0,0.622766,0.00000,0.00000,0.00000,0.47363,0.622766,0.000000,0.000000
1,0.000000,0.00000,0.00000,0.00000,0.47363,0.000000,0.622766,0.622766
2,0.000000,0.57735,0.57735,0.57735,0.00000,0.000000,0.000000,0.000000

In [69]:
doc1 = list(tf_idf_df.iloc[0])
doc2 = list(tf_idf_df.iloc[1])
doc3 = list(tf_idf_df.iloc[2])

In [70]:
from scipy import spatial

result1 = 1 - spatial.distance.cosine(doc2, doc3)
result1

0.0

In [71]:
result2 = 1 - spatial.distance.cosine(doc1, doc2)
result2

0.22432499897493297

### EXAMPLE 2

In [72]:
df_idf_df2

NameError: name 'df_idf_df2' is not defined

In [ ]:
doc1 = list(df_idf_df2.iloc[0])
doc2 = list(df_idf_df2.iloc[1])
doc3 = list(df_idf_df2.iloc[2])

In [ ]:
len(doc1)

In [ ]:
result2_1 = 1 - spatial.distance.cosine(doc2, doc3)
result2_1

In [ ]:
result2_2 = 1 - spatial.distance.cosine(doc1, doc2)
result2_2